.timeline{
 position: relative;
 max-width: 1200px;
 margin: 100px auto;
}

.containerT{
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box{
    padding: 20px 30px;
    background:  rgb(33, 37, 41);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: rgb(166, 167, 169,1);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.containerT img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: rgb(33, 37, 41);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}



.text-box small{
    display: inline block;
}